@tailwind base;
@tailwind components;
@tailwind utilities;

.image-pagination {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pagination-controls {
  margin-top: 10px;
}

.pagination-controls button {
  border: border 1px solid black;
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.pagination-controls button.active {
  background-color: #34078f;
  color: #fff;
}

.pagination-controls button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

